.baishu .content .header {
  height: 554px;
  background-image: url(../img/activity/bg_dingbu@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.baishu .content .header .container {
  padding-top: 98px;
}
.baishu .content .header .container .title p {
  text-align: center;
}
.baishu .content .header .container .title p.pc {
  display: block;
}
.baishu .content .header .container .title p.mobile {
  display: none;
}
.baishu .content .header .container .title p img {
  width: 847px;
}
.baishu .content .header .container .head-body {
  margin: 20px auto 0;
  width: 745px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.baishu .content .header .container .head-body .activity-time {
  position: relative;
}
.baishu .content .header .container .head-body .activity-time:before {
  content: "";
  background-color: #ffffff;
  filter: blur(50px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.baishu .content .header .container .head-body .activity-time .time {
  margin-bottom: 12px;
  position: relative;
}
.baishu .content .header .container .head-body .activity-time .time .time-title p {
  height: 28px;
  font-size: 20px;
  font-weight: bold;
  color: #9EFDCD;
  line-height: 28px;
}
.baishu .content .header .container .head-body .activity-time .time .time-cont {
  margin-top: 16px;
}
.baishu .content .header .container .head-body .activity-time .time .time-cont p {
  font-size: 26px;
  font-weight: bold;
  color: #C11703;
  line-height: 37px;
  letter-spacing: 1px;
  text-align: center;
}
.baishu .content .header .container .head-body .activity-time .activity-tip {
  margin-top: 0;
  position: relative;
  padding-bottom: 6px;
}
.baishu .content .header .container .head-body .activity-time .activity-tip .tip-title p {
  font-size: 20px;
  font-weight: bold;
  color: #C11703;
  line-height: 28px;
}
.baishu .content .header .container .head-body .activity-time .activity-tip .tip-title p span {
  font-size: 42px;
  color: #C11703;
  letter-spacing: 1px;
}
.baishu .content .header .container .head-body .activity-time .activity-tip .tip-line {
  position: absolute;
  width: calc(100% + 80px);
  height: 2px;
  bottom: 0;
  left: -40px;
  background-color: #ffffff;
}
.baishu .content .header .container .head-body .activity-code p {
  text-align: center;
}
.baishu .content .header .container .head-body .activity-code p img {
  width: 160px;
  display: block;
  margin: 0 auto 12px;
}
.baishu .content .header .container .head-body .activity-code p span {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 25px;
}
.baishu .content .activity-body {
  padding-top: 80px;
}
.baishu .content .activity-body * {
  letter-spacing: 0.66px;
}
.baishu .content .activity-body .container .activity-title .title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
  margin-bottom: 20px;
}
.baishu .content .activity-body .container .activity-title .msg-tip {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  line-height: 22px;
}
.baishu .content .activity-body .container .activity-pice-list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item {
  width: calc(25% - 16px);
  background: #FFFFFF;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-title {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background-image: url(../img/activity/img_jichu@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-title p {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 30px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-pice {
  padding: 16px 0;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-pice p {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  line-height: 1;
  text-align: center;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-pice p span {
  font-size: 36px;
  letter-spacing: 1px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year {
  padding: 0 20px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year .year-content {
  padding: 16px 0;
  border-top: 1px solid #E0E0E0;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year .year-content .cont-title {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #F08829;
  line-height: 22px;
  position: relative;
  margin-bottom: 12px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year .year-content .cont-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 4px;
  height: 16px;
  background: #F08829;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year .year-content .cont-msg {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 1;
  margin-bottom: 12px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year .year-content .cont-msg span {
  color: #0265ff;
  font-size: 20px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year .year-content .cont-pice {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 1;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-buy-year .year-content .cont-pice span {
  color: #0265ff;
  font-size: 20px;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(2) .item-title {
  background-image: url(../img/activity/img_biaozhun@2x.png);
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(2) .item-buy-year .year-content .cont-title {
  color: #EF7E67;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(2) .item-buy-year .year-content .cont-title:before {
  background: #EF7E67;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(3) .item-title {
  background-image: url(../img/activity/img_zhuanye@2x.png);
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(3) .item-buy-year .year-content .cont-title {
  color: #EB552E;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(3) .item-buy-year .year-content .cont-title:before {
  background: #EB552E;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(4) .item-title {
  background-image: url(../img/activity/img_qijian@2x.png);
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(4) .item-buy-year .year-content .cont-title {
  color: #D41E04;
}
.baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(4) .item-buy-year .year-content .cont-title:before {
  background: #D41E04;
}
.baishu .content .activity-body .container .activity-business .business-content {
  margin-top: 32px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.baishu .content .activity-body .container .activity-business .business-content .title {
  width: 100%;
  height: 110px;
  background-image: url(../img/activity/img_shangwu@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.baishu .content .activity-body .container .activity-business .business-content .title p {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 110px;
  text-align: center;
}
.baishu .content .activity-body .container .activity-business .business-content .business-list {
  padding: 30px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.baishu .content .activity-body .container .activity-business .business-content .business-list .business-item {
  width: 50%;
}
.baishu .content .activity-body .container .activity-business .business-content .business-list .business-item .item-title {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #EB552E;
  line-height: 22px;
  position: relative;
  margin-bottom: 12px;
}
.baishu .content .activity-body .container .activity-business .business-content .business-list .business-item .item-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 4px;
  height: 16px;
  background: #EB552E;
}
.baishu .content .activity-body .container .activity-business .business-content .business-list .business-item .item-list p {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 1;
  display: flex;
  align-items: baseline;
}
.baishu .content .activity-body .container .activity-business .business-content .business-list .business-item .item-list p b {
  display: block;
}
.baishu .content .activity-body .container .activity-business .business-content .business-list .business-item .item-list p span {
  font-size: 20px;
  color: #0265FF;
}
.baishu .content .activity-footer {
  height: 358px;
  background-image: url(../img/activity/bg_dibu@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
}
.baishu .content .activity-footer .container {
  padding-top: 60px;
}
.baishu .content .activity-footer .container .footer-title {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.baishu .content .activity-footer .container .footer-msg {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 22px;
  text-align: center;
  margin-bottom: 40px;
}
.baishu .content .activity-footer .container .footer-cont {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.baishu .content .activity-footer .container .footer-cont .time {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}
.baishu .content .activity-footer .container .footer-cont .time .time-title {
  display: flex;
  align-items: center;
  height: 30px;
}
.baishu .content .activity-footer .container .footer-cont .time .time-title .title-icon {
  margin-right: 8px;
}
.baishu .content .activity-footer .container .footer-cont .time .time-title .title-icon img {
  width: 26px;
  display: block;
}
.baishu .content .activity-footer .container .footer-cont .time .time-title .title-cont {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 25px;
}
.baishu .content .activity-footer .container .footer-cont .time .time-content {
  font-size: 22px;
  font-weight: bold;
  color: #F4FFBC;
  line-height: 30px;
  letter-spacing: 1px;
  height: 30px;
}
.baishu .content .activity-footer .container .footer-cont .code {
  display: flex;
  align-items: flex-start;
}
.baishu .content .activity-footer .container .footer-cont .code .code-title {
  display: flex;
  align-items: center;
  height: 30px;
}
.baishu .content .activity-footer .container .footer-cont .code .code-title .title-icon {
  margin-right: 8px;
}
.baishu .content .activity-footer .container .footer-cont .code .code-title .title-icon img {
  width: 26px;
  display: block;
}
.baishu .content .activity-footer .container .footer-cont .code .code-title .title-cont {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 25px;
}
.baishu .content .activity-footer .container .footer-cont .code .code-content img {
  width: 125px;
}
@media screen and (max-width: 980px) {
  .baishu .container {
    width: 100%;
    padding: 0;
  }
  .baishu .content {
    width: 100%;
  }
  .baishu .content .header {
    height: auto;
    background-image: url(../img/activity/bg_datu@2x.png);
    background-size: 100%;
    background-position: center bottom;
  }
  .baishu .content .header .container {
    padding-top: 75px;
  }
  .baishu .content .header .container .title p.pc {
    display: none;
  }
  .baishu .content .header .container .title p.mobile {
    display: block;
  }
  .baishu .content .header .container .title p img {
    width: 243px;
  }
  .baishu .content .header .container .head-body {
    width: 100%;
    margin-top: 38px;
    flex-flow: column;
    padding: 0 15px;
  }
  .baishu .content .header .container .head-body .activity-time:before {
    display: none;
  }
  .baishu .content .header .container .head-body .activity-time .time .time-title p {
    font-size: 18px;
    text-align: center;
  }
  .baishu .content .header .container .head-body .activity-time .time .time-cont {
    padding: 0 14px 6px;
    margin-top: 0;
  }
  .baishu .content .header .container .head-body .activity-time .time .time-cont p {
    font-size: 20px;
    text-align: center;
  }
  .baishu .content .header .container .head-body .activity-time .activity-tip {
    margin-top: 0;
  }
  .baishu .content .header .container .head-body .activity-time .activity-tip .tip-title p {
    font-size: 16px;
    text-align: center;
  }
  .baishu .content .header .container .head-body .activity-time .activity-tip .tip-title p span {
    font-size: 24px;
  }
  .baishu .content .header .container .head-body .activity-time .activity-tip .tip-line {
    width: 100%;
    left: 0;
  }
  .baishu .content .header .container .head-body .activity-code {
    margin-top: 124px;
    padding-bottom: 68px;
  }
  .baishu .content .header .container .head-body .activity-code p img {
    width: 120px;
  }
  .baishu .content .header .container .head-body .activity-code p span {
    font-size: 14px;
  }
  .baishu .content .activity-body {
    padding-top: 30px;
  }
  .baishu .content .activity-body .container .activity-title {
    padding: 0 15px;
  }
  .baishu .content .activity-body .container .activity-title .title {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 14px;
  }
  .baishu .content .activity-body .container .activity-title .msg-tip {
    font-size: 14px;
  }
  .baishu .content .activity-body .container .activity-pice-list {
    margin-top: 6px;
    padding: 14px;
    overflow-x: auto;
    width: 100%;
    display: block;
  }
  .baishu .content .activity-body .container .activity-pice-list .activity-pice-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .baishu .content .activity-body .container .activity-pice-list .activity-pice-item .item-title {
    background-image: url(../img/activity/img_mobile_jichu@2x.png);
  }
  .baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(2) .item-title {
    background-image: url(../img/activity/img_mobile_biaozhun@2x.png);
  }
  .baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(3) .item-title {
    background-image: url(../img/activity/img_mobile_zhuanye@2x.png);
  }
  .baishu .content .activity-body .container .activity-pice-list .activity-pice-item:nth-child(4) .item-title {
    background-image: url(../img/activity/img_mobile_qijian@2x.png);
  }
  .baishu .content .activity-body .container .activity-pice-list .activity-pice-item:last-child {
    margin-bottom: 0;
  }
  .baishu .content .activity-body .container .activity-business {
    padding: 0 15px;
  }
  .baishu .content .activity-body .container .activity-business .business-content .title {
    background-image: url(../img/activity/img_mobile_shangwu@2x.png);
  }
  .baishu .content .activity-body .container .activity-business .business-content .business-list {
    flex-flow: column;
  }
  .baishu .content .activity-body .container .activity-business .business-content .business-list .business-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .baishu .content .activity-body .container .activity-business .business-content .business-list .business-item .item-list p {
    line-height: normal;
    margin-bottom: 10px;
  }
  .baishu .content .activity-body .container .activity-business .business-content .business-list .business-item:last-child {
    margin-bottom: 0;
  }
  .baishu .content .activity-footer {
    background-image: url(../img/activity/bg_mobile_dibu@2x.png);
    margin-top: 30px;
  }
  .baishu .content .activity-footer .container {
    padding-top: 60px;
  }
  .baishu .content .activity-footer .container .footer-title {
    font-size: 16px;
    line-height: normal;
  }
  .baishu .content .activity-footer .container .footer-msg {
    display: none;
  }
  .baishu .content .activity-footer .container .footer-cont {
    flex-flow: column;
    align-items: center;
  }
  .baishu .content .activity-footer .container .footer-cont .time {
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .baishu .content .activity-footer .container .footer-cont .time .time-title .title-icon img {
    width: 16px;
  }
  .baishu .content .activity-footer .container .footer-cont .time .time-title .title-cont {
    font-size: 14px;
  }
  .baishu .content .activity-footer .container .footer-cont .time .time-content {
    font-size: 16px;
  }
  .baishu .content .activity-footer .container .footer-cont .code {
    flex-flow: column;
    align-items: center;
  }
  .baishu .content .activity-footer .container .footer-cont .code .code-title .title-icon img {
    width: 16px;
  }
  .baishu .content .activity-footer .container .footer-cont .code .code-title .title-cont {
    font-size: 14px;
  }
  .baishu .content .activity-footer .container .footer-cont .code .code-content img {
    width: 105px;
  }
}
