body .baishu {
  background: linear-gradient(360deg, #3829AB 0%, #1A1273 100%);
}
body .baishu .header {
  padding-top: 32.875rem;
  padding-bottom: 24.5625rem;
  background: url(../img/bg_tp1.png) no-repeat bottom center;
  background-size: 1920px;
}
body .baishu .header .container {
  position: relative;
}
body .baishu .header .container .title1 {
  width: 42.125rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  background-image: url(../img/img_juxing.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-left: -6.75rem;
}
body .baishu .header .container .title1 p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.0625rem;
  text-shadow: 0.125rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.4);
}
body .baishu .header .container .activity-time {
  position: absolute;
  right: 0;
  top: -11.5625rem;
}
body .baishu .header .container .activity-time .time {
  margin-bottom: 32px;
}
body .baishu .header .container .activity-time .time:last-child {
  margin-bottom: 0;
}
body .baishu .header .container .activity-time .time .time-title {
  font-size: 18px;
  font-weight: 500;
  color: #D1B6FF;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
body .baishu .header .container .activity-time .time .time-cont {
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 1px;
}
body .baishu .activity-page1 {
  margin-top: -16.125rem;
  margin-bottom: 6.375rem;
}
body .baishu .activity-page1 .container .activity-title {
  position: relative;
  width: 38.5rem;
  height: 3.8125rem;
  margin: 0 auto 2.5rem;
}
body .baishu .activity-page1 .container .activity-title .text {
  position: relative;
  z-index: 1;
}
body .baishu .activity-page1 .container .activity-title .text p {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
body .baishu .activity-page1 .container .activity-title .title-bg {
  width: 38.5rem;
  height: 2.1875rem;
  background-image: url(../img/img_huodong1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 1.625rem;
  left: 0;
}
body .baishu .activity-page1 .container .activity-cont .text {
  margin-bottom: 1.25rem;
}
body .baishu .activity-page1 .container .activity-cont .text p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.875rem;
}
body .baishu .activity-page1 .container .activity-cont .text:last-child {
  margin-bottom: 0;
}
body .baishu .activity-page1 .container .activity-cont .text.color p {
  color: #FAFF00;
}
body .baishu .activity-page2 {
  margin-bottom: 3.625rem;
}
body .baishu .activity-page2 .container .activity-title {
  position: relative;
  width: 45.6875rem;
  height: 3.8125rem;
  margin: 0 auto 2.5rem;
}
body .baishu .activity-page2 .container .activity-title .text {
  position: relative;
  z-index: 1;
}
body .baishu .activity-page2 .container .activity-title .text p {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
body .baishu .activity-page2 .container .activity-title .title-bg {
  width: 45.6875rem;
  height: 2.1875rem;
  background-image: url(../img/img_huodong2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 1.625rem;
  left: 0;
}
body .baishu .activity-page2 .container .activity-cont .cont-title {
  width: 70rem;
  height: 6.625rem;
  padding-top: 2.625rem;
  background-image: url(../img/img_liucheng1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 3.75rem;
}
body .baishu .activity-page2 .container .activity-cont .cont-title p {
  font-size: 1.5rem;
  color: #FFFFFF;
  letter-spacing: 0.0625rem;
  padding-left: 5rem;
  line-height: 2.875rem;
}
body .baishu .activity-page2 .container .activity-cont .cont-title p span {
  font-weight: bold;
  color: #FF8600;
}
body .baishu .activity-page2 .container .activity-cont .cont-list {
  width: 50rem;
  margin: 0 auto;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-header {
  display: flex;
  margin-bottom: 3.75rem;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-header .item {
  width: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00F2FF;
  line-height: 2.0625rem;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-header .item:first-child {
  width: 20%;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-header .item:nth-last-child(2) {
  width: 30%;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-body .cont-tr {
  display: flex;
  margin-bottom: 1.25rem;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-body .cont-tr:last-child {
  margin-bottom: 0;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-body .cont-tr .cont-td {
  width: 50%;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 2.3125rem;
  letter-spacing: 0.07875rem;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-body .cont-tr .cont-td .cont-td-list .cont-td-item {
  margin-bottom: 0.5rem;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-body .cont-tr .cont-td.title {
  width: 20%;
  color: #FF8600;
}
body .baishu .activity-page2 .container .activity-cont .cont-list .cont-body .cont-tr .cont-td:nth-last-child(2) {
  width: 30%;
}
body .baishu .activity-page3 .container .activity-cont .cont-title {
  width: 70rem;
  height: 6.625rem;
  padding-top: 2.625rem;
  background-image: url(../img/img_huodong2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 4.6875rem;
}
body .baishu .activity-page3 .container .activity-cont .cont-title p {
  font-size: 1.5rem;
  color: #FFFFFF;
  letter-spacing: 0.0625rem;
  padding-left: 5rem;
  line-height: 2.875rem;
}
body .baishu .activity-page3 .container .activity-cont .cont-title p span {
  font-weight: bold;
  color: #FF8600;
}
body .baishu .activity-page4 .container .activity-cont .cont-title {
  width: 70rem;
  height: 6.625rem;
  padding-top: 2.625rem;
  background-image: url(../img/img_huodong3@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 4.6875rem;
}
body .baishu .activity-page4 .container .activity-cont .cont-title p {
  font-size: 1.5rem;
  color: #FFFFFF;
  letter-spacing: 0.0625rem;
  padding-left: 5rem;
  line-height: 2.875rem;
}
body .baishu .activity-page4 .container .activity-cont .cont-title p span {
  font-weight: bold;
  color: #FF8600;
}
body .baishu .activity-page5 .container .activity-cont .cont-title {
  width: 70rem;
  height: 9.5rem;
  padding-top: 2.625rem;
  background-image: url(../img/img_huodong4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 6.25rem;
}
body .baishu .activity-page5 .container .activity-cont .cont-title p {
  font-size: 1.5rem;
  color: #FFFFFF;
  letter-spacing: 0.0625rem;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 2.875rem;
}
body .baishu .activity-page5 .container .activity-cont .cont-title p span {
  font-weight: bold;
  color: #FF8600;
}
body .baishu .activity-page5 .container .activity-cont .cont-title p a {
  color: #00F2FF;
  border-bottom: 2px solid #00F2FF;
}
body .baishu .activity-page6 {
  margin-bottom: 6.25rem;
}
body .baishu .activity-page6 .container .activity-cont .text-list {
  width: 61rem;
  margin: 0 auto;
  background-image: url(../img/img_yinhao@2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 5.3125rem;
}
body .baishu .activity-page6 .container .activity-cont .text-list .item {
  margin-bottom: 0.625rem;
}
body .baishu .activity-page6 .container .activity-cont .text-list .item p {
  font-size: 2rem;
  font-weight: bold;
  color: #FAFF00;
  line-height: 4.25rem;
  letter-spacing: 0.0625rem;
  text-align: center;
}
body .baishu .activity-page7 {
  margin-bottom: 6.375rem;
}
body .baishu .activity-page7 .container .activity-title {
  position: relative;
  width: 38.5rem;
  height: 3.8125rem;
  margin: 0 auto 2.5rem;
}
body .baishu .activity-page7 .container .activity-title .text {
  position: relative;
  z-index: 1;
}
body .baishu .activity-page7 .container .activity-title .text p {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
body .baishu .activity-page7 .container .activity-title .title-bg {
  width: 38.5rem;
  height: 2.1875rem;
  background-image: url(../img/img_huodong1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 1.625rem;
  left: 0;
}
body .baishu .activity-page7 .container .activity-subTitle {
  margin-bottom: 2.5rem;
}
body .baishu .activity-page7 .container .activity-subTitle p {
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.875rem;
  letter-spacing: 0.07875rem;
}
body .baishu .activity-page7 .container .activity-subTitle p span {
  font-weight: bold;
  color: #FF8600;
}
body .baishu .activity-page7 .container .activity-cont {
  width: 43.375rem;
  margin: 0 auto;
}
body .baishu .activity-page7 .container .activity-cont .activity-table {
  border: 0.4375rem solid #2763F9;
  margin-bottom: 2.5rem;
}
body .baishu .activity-page7 .container .activity-cont .activity-table .activity-th {
  height: 6.25rem;
  display: flex;
  background-color: #2763F9;
  align-items: center;
}
body .baishu .activity-page7 .container .activity-cont .activity-table .activity-th .activity-td {
  width: 33.33%;
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.0625rem;
  padding-left: 4.0625rem;
}
body .baishu .activity-page7 .container .activity-cont .activity-table .activity-body {
  background-color: #ffffff;
}
body .baishu .activity-page7 .container .activity-cont .activity-table .activity-body .activity-tr {
  height: 6.25rem;
  display: flex;
  align-items: center;
}
body .baishu .activity-page7 .container .activity-cont .activity-table .activity-body .activity-tr .activity-td {
  width: 33.33%;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  padding-left: 4.0625rem;
}
body .baishu .activity-page7 .container .activity-cont .activity-table .activity-body .activity-tr .activity-td.blue {
  color: #2763F9;
}
body .baishu .activity-page7 .container .activity-cont .activity-table .activity-body .activity-tr .activity-td.orange .circle {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.375rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 47, 0, 0.04);
  border: 0.0625rem solid rgba(255, 0, 0, 0.2);
  font-size: 22px;
  font-weight: bold;
  color: #FF2F00;
  letter-spacing: 1px;
}
body .baishu .activity-page7 .container .activity-cont .activity-tip {
  font-size: 1rem;
  font-weight: 500;
  color: #00F2FF;
  line-height: 1.875rem;
}
body .baishu .activity-page8 {
  margin-bottom: 6.375rem;
}
body .baishu .activity-page8 .container .activity-title {
  position: relative;
  width: 43.5625rem;
  height: 3.8125rem;
  margin: 0 auto 3.75rem;
}
body .baishu .activity-page8 .container .activity-title .text {
  position: relative;
  z-index: 1;
}
body .baishu .activity-page8 .container .activity-title .text p {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
body .baishu .activity-page8 .container .activity-title .title-bg {
  width: 43.5625rem;
  height: 2.1875rem;
  background-image: url(../img/img_huo.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 1.625rem;
  left: 0;
}
body .baishu .activity-page8 .container .activity-cont .text {
  margin-bottom: 1.25rem;
}
body .baishu .activity-page8 .container .activity-cont .text p {
  text-align: center;
  font-size: 2.625rem;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 3.6875rem;
  letter-spacing: 0.125rem;
}
body .baishu .activity-page9 {
  margin-bottom: 6.375rem;
}
body .baishu .activity-page9 .container .activity-title {
  position: relative;
  width: 43.5625rem;
  height: 3.8125rem;
  margin: 0 auto 3.75rem;
}
body .baishu .activity-page9 .container .activity-title .text {
  position: relative;
  z-index: 1;
}
body .baishu .activity-page9 .container .activity-title .text p {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
body .baishu .activity-page9 .container .activity-title .title-bg {
  width: 43.5625rem;
  height: 2.1875rem;
  background-image: url(../img/img_huo.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 1.625rem;
  left: 0;
}
body .baishu .activity-page9 .container .activity-cont .cont-img {
  margin-bottom: 1.25rem;
}
body .baishu .activity-page9 .container .activity-cont .cont-img img {
  width: 20.8125rem;
  height: 20.8125rem;
  display: block;
  margin: 0 auto;
}
body .baishu .activity-page10 {
  margin-bottom: 6.25rem;
}
body .baishu .activity-page10 .container .activity-cont {
  width: 100%;
  padding-left: 3.125rem;
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  background-image: url(../img/bg_zuihou1@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
body .baishu .activity-page10 .container .activity-cont .activityBox {
  font-size: 1.25rem;
  line-height: 3.125rem;
  letter-spacing: 0.0625rem;
}
body .baishu .activity-page10 .container .activity-cont .activityBox p {
  color: #FFFFFF;
}
body .baishu .activity-page10 .container .activity-cont .activityBox p span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FF8600;
}
body .baishu .activity-page10 .container .activity-cont .activityBox a {
  color: #00F2FF;
  border-bottom: 2px solid #00F2FF;
}
body .baishu .activity-page11 {
  margin-bottom: 6.25rem;
}
body .baishu .activity-page11 .container .activity-cont {
  width: 100%;
  padding-left: 3.125rem;
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  background-image: url(../img/bg_zuihou2@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
body .baishu .activity-page11 .container .activity-cont .activityBox {
  font-size: 1.25rem;
  line-height: 3.125rem;
  letter-spacing: 0.0625rem;
}
body .baishu .activity-page11 .container .activity-cont .activityBox p {
  color: #FFFFFF;
}
body .baishu .activity-page11 .container .activity-cont .activityBox p span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FF8600;
}
body .baishu .activity-page11 .container .activity-cont .activityBox a {
  color: #00F2FF;
  border-bottom: 2px solid #00F2FF;
}
body .baishu .activity-page12 {
  margin-bottom: 6.375rem;
}
body .baishu .activity-page12 .container .activity-title {
  position: relative;
  width: 48.125rem;
  height: 3.8125rem;
  margin: 0 auto 2.5rem;
}
body .baishu .activity-page12 .container .activity-title .text {
  position: relative;
  z-index: 1;
}
body .baishu .activity-page12 .container .activity-title .text p {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
body .baishu .activity-page12 .container .activity-title .title-bg {
  width: 48.125rem;
  height: 2.1875rem;
  background-image: url(../img/img_huodong6@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 1.625rem;
  left: 0;
}
body .baishu .activity-page12 .container .activity-cont .activity-list {
  width: 100%;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item {
  height: 10.5rem;
  padding: 2.5rem 3.75rem 0 5rem;
  margin-bottom: 1.875rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5.5625rem;
  border: 2px solid #00F2FF;
  display: flex;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item:last-child {
  margin-bottom: 0;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .title-img {
  display: flex;
  align-items: center;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .title-img img {
  width: 15rem;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name {
  width: calc(100% - 15rem);
  padding-left: 6.25rem;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text {
  width: calc(100% - 15rem);
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name,
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text {
  max-width: 27.625rem;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name .title,
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text .title {
  margin-bottom: 1rem;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name .title p,
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text .title p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #D1B6FF;
  line-height: 1.25rem;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name .cont-text,
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text .cont-text {
  margin-bottom: 1rem;
}
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name .cont-text p,
body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text .cont-text p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.25rem;
}
body .baishu .activity-footer {
  margin-top: -37rem;
  padding-top: 32.875rem;
  padding-bottom: 24.5625rem;
  background: url(../img/bg_tp5@2x.png) no-repeat bottom center;
  background-size: 1920px;
}
@media screen and (max-width: 980px) {
  html {
    font-size: 12px;
  }
  html body .baishu .header {
    padding-top: 22.875rem;
    background-size: 100%;
    background-position: top center;
  }
  html body .baishu .header img {
    margin-left: 4.75rem;
  }
  html body .baishu .activity-footer {
    background-size: 100%;
    background-position: bottom center;
  }
  html body .baishu .activity-page2 .container .activity-cont .cont-title p {
    font-size: 1.75rem;
  }
  html body .baishu .activity-page2 .container .activity-cont .cont-list .cont-header .item {
    font-size: 2rem;
  }
  html body .baishu .activity-page2 .container .activity-cont .cont-list .cont-body .cont-tr .cont-td {
    font-size: 2rem;
  }
  html body .baishu .activity-page3 .container .activity-cont .cont-title p {
    font-size: 1.75rem;
  }
  html body .baishu .activity-page4 .container .activity-cont .cont-title p {
    font-size: 1.75rem;
  }
  html body .baishu .activity-page5 .container .activity-cont .cont-title p {
    font-size: 1.75rem;
  }
  html body .baishu .header .container .title1 {
    margin-left: -1.75rem;
  }
  html body .baishu .activity-page1 .container .activity-cont .text p {
    font-size: 2rem;
  }
  html body .baishu .activity-page7 .container .activity-subTitle p {
    font-size: 2rem;
    line-height: 3rem;
  }
  html body .baishu .activity-page7 .container .activity-cont .activity-table .activity-body .activity-tr .activity-td.orange .circle {
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.375rem;
  }
  html body .baishu .activity-page7 .container .activity-cont .activity-tip {
    font-size: 1.75rem;
  }
  html body .baishu .activity-page10 .container .activity-cont .activityBox {
    font-size: 1.5rem;
  }
  html body .baishu .activity-page11 .container .activity-cont .activityBox {
    font-size: 1.5rem;
  }
  html body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item {
    height: auto;
    padding: 2.5rem 3.75rem 2.5rem 3rem;
  }
  html body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .title-img img {
    width: 13rem;
  }
  html body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name {
    padding-right: 0.625rem;
  }
  html body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name .cont-text p,
  html body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text .cont-text p {
    font-size: 1.85rem;
    line-height: 2rem;
  }
  html body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-name .title p,
  html body .baishu .activity-page12 .container .activity-cont .activity-list .activity-item .advisory-content-text .title p {
    font-size: 1.85rem;
  }
}
