html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}
html body,
html div,
html ul,
html li,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p,
html dl,
html dt,
html dd,
html ol,
html form,
html input,
html textarea,
html th,
html td,
html select {
  margin: 0;
  padding: 0;
}
html * {
  font-family: Arial;
  letter-spacing: 0.005rem;
  font-weight: 500;
}
html * {
  box-sizing: border-box;
}
html body {
  min-height: 100%;
}
html.isHidden {
  overflow: hidden;
}
html body {
  font-family: "Microsoft YaHei";
  font-size: 0.875rem;
  color: #333;
  height: 100%;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-weight: normal;
}
html ul,
html ol {
  list-style: none;
}
html img {
  border: none;
  vertical-align: middle;
}
html a {
  text-decoration: none!important;
  color: #232323;
}
html a:hover {
  text-decoration: none!important;
}
html table {
  border-collapse: collapse;
  table-layout: fixed;
}
html input,
html textarea {
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  /** 去除系统默认样式 */
}
html textarea {
  resize: none;
  overflow: auto;
}
@media (min-width: 769px) {
  html ::-webkit-scrollbar {
    width: 0.5rem;
  }
  html ::-webkit-scrollbar-corner {
    background: 0 0;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    background: #B5B5B5;
  }
  html ::-webkit-scrollbar-track {
    border-radius: 0.375rem;
  }
}
.baishu .header .navbar {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #5042EF;
  transition: all 0.3s;
}
.baishu .header .navbar .container {
  padding: 0 0 0 15px;
  margin: 0;
  position: relative;
}
.baishu .header .navbar .container .navbar-header .navbar-toggle {
  position: relative;
  float: right;
  margin-right: 0.9375rem;
  padding: 0.5625rem 0.625rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-image: none;
  border-radius: 0.25rem;
}
.baishu .header .navbar .container .navbar-header .loginUse {
  position: absolute;
  right: 0;
  top: 1.0625rem;
}
.baishu .header .navbar .container .navbar-header .loginUse li:first-child a {
  width: 69px;
  height: 38px;
  background: rgba(2, 101, 255, 0.06);
  border-radius: 19px;
  border: 1px solid transparent;
  line-height: 38px;
  padding: 0;
  text-align: center;
  border-radius: 1.1875rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s;
  margin-right: 18px;
}
.baishu .header .navbar .container .navbar-header .loginUse li:first-child a:hover {
  transition: all 0.3s;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}
.baishu .header .navbar .container .navbar-header .loginUse li:last-child a {
  width: 6.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  padding: 0;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 1.1875rem;
  font-size: 1rem;
  font-weight: 500;
  color: #5739F1;
  transition: all 0.3s;
}
.baishu .header .navbar .container .navbar-header .loginUse li:last-child a:hover {
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
}
.baishu .header .navbar .container .navbar-header .navbar-brand {
  height: 4.5rem;
  padding: 0.75rem 0;
  margin-left: 0;
}
.baishu .header .navbar .container .navbar-header .navbar-brand img {
  height: 100%;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav {
  margin-left: 4.25rem;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li {
  position: relative;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li a {
  padding: 0 0.375rem;
  margin: 0 0.875rem;
  font-size: 1rem;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #ffffff;
  display: block;
  position: relative;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown a span {
  margin-right: 0.5rem;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown a i.bs-icon-icongongnengxiala {
  transition: all 0.3s;
  transform: rotate(0deg);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box {
  width: 100%;
  overflow: hidden;
  padding-bottom: 1.875rem;
  position: fixed;
  left: 50%;
  z-index: 8;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  display: none;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box {
  box-shadow: 0 0.125rem 1.875rem 0 rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: flex;
  overflow: auto;
  background-color: #ffffff;
  overflow-x: hidden;
  padding: 2.5rem 0 3.125rem;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .container {
  margin: 0 auto;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections:last-child {
  margin-right: 0;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl {
  width: 12.5rem;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dt {
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #E5E5E5;
  margin: 0 1.25rem 1.5625rem;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a {
  margin: 0 auto;
  height: 2.875rem;
  width: 100%;
  line-height: 2.875rem;
  display: block;
  border-radius: 0.125rem;
  transition: all 0.3s;
  padding: 0 1.25rem;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover {
  transition: all 0.3s;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover.blue {
  background-color: rgba(24, 144, 255, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover.blue1 {
  background-color: rgba(47, 84, 235, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover.green {
  background-color: rgba(160, 217, 17, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover.green1 {
  background-color: rgba(82, 196, 26, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover.green2 {
  background-color: rgba(19, 194, 194, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover.orange {
  background-color: rgba(250, 173, 20, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a:hover.orange1 {
  background-color: rgba(250, 140, 22, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active {
  transition: all 0.3s;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active.blue {
  background-color: rgba(24, 144, 255, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active.blue1 {
  background-color: rgba(47, 84, 235, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active.green {
  background-color: rgba(160, 217, 17, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active.green1 {
  background-color: rgba(82, 196, 26, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active.green2 {
  background-color: rgba(19, 194, 194, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active.orange {
  background-color: rgba(250, 173, 20, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a.active.orange1 {
  background-color: rgba(250, 140, 22, 0.1);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a i {
  font-size: 1rem;
  vertical-align: middle;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dd a span {
  vertical-align: middle;
  color: #333333;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown.open a.link i.bs-icon-icongongnengxiala {
  display: inline-block;
  transition: all 0.3s;
  transform: rotate(180deg);
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown.open .header-dropdown-box {
  transition: opacity 0.3s;
  opacity: 1!important;
  display: block!important;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li:hover a.link,
.baishu .header .navbar .container .navbar-collapse .navbar-nav li.active a.link {
  color: #ffffff;
  background: transparent;
  font-weight: bold;
  text-decoration: none;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li:hover a.link span,
.baishu .header .navbar .container .navbar-collapse .navbar-nav li.active a.link span {
  color: #ffffff;
  font-weight: bold;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav li:hover a.link:before,
.baishu .header .navbar .container .navbar-collapse .navbar-nav li.active a.link:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #ffffff;
}
.baishu .header .navbar .container .navbar-collapse .navbar-nav .dropdown-menu li a {
  font-size: 0.875rem;
  height: 2.25rem;
  line-height: 2.25rem;
  margin: 0;
  padding: 0 0.875rem;
  font-weight: 300;
}
.baishu .advisory-box {
  display: none;
  padding: 1rem 0.75rem;
  background: #0265FF;
  border-radius: 0.125rem;
  position: fixed;
  right: 0;
  bottom: 20%;
  cursor: pointer;
  z-index: 5000;
}
.baishu .advisory-box .mobile {
  display: none;
}
.baishu .advisory-box .advisory-icon {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 0.125rem;
}
.baishu .advisory-box .advisory-text {
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
}
.baishu .advisory-content {
  position: fixed;
  width: 100%;
  height: calc(100% - 4.5rem);
  bottom: -100%;
  transition: bottom 0.3s;
  z-index: 8000;
}
.baishu .advisory-content .content {
  box-shadow: 0 0.125rem 0.875rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.125rem 0.875rem rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  padding-top: 0;
  max-width: 818px;
  min-width: 500px;
  max-height: 930px;
  min-height: 400px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.baishu .advisory-content .content #maskIframe {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.baishu .advisory-content .content #maskIframe .loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}
.baishu .advisory-content .content #maskIframe .loader .line {
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4946FF), to(#54C5FF));
  background: -webkit-linear-gradient(top, #4946FF, #54C5FF);
  background: linear-gradient(to bottom, #4946FF, #54C5FF);
}
.baishu .advisory-content .content #maskIframe .loader .line1 {
  left: 0;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}
.baishu .advisory-content .content #maskIframe .loader .line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}
.baishu .advisory-content .content #maskIframe .loader .line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}
.baishu .advisory-content .content #iframeBox {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;
}
.baishu .advisory-content .bs-icon-iconxiaohaoguanbi {
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  border-radius: 50%;
  padding: 0.375rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.875rem rgba(0, 0, 0, 0.01);
  font-size: 1.25rem;
  cursor: pointer;
  color: #666666;
  transition: all 0.3s;
  z-index: 12;
}
.baishu .advisory-content .bs-icon-iconxiaohaoguanbi:hover {
  transform: rotate(-90deg);
  color: #333333;
}
.baishu .advisory-content.active {
  bottom: 0;
  transition: bottom 0.3s;
}
.baishu .footer {
  padding: 2.5rem 0 0;
  background-color: #F4F5F7;
}
.baishu .footer .footer-top-cont {
  overflow: hidden;
}
.baishu .footer .footer-top-cont .footer-top-left {
  float: left;
}
.baishu .footer .footer-top-cont .footer-top-left dl {
  display: inline-block;
  margin-right: 3.75rem;
  vertical-align: top;
}
.baishu .footer .footer-top-cont .footer-top-left dl:last-child {
  margin-right: 0;
}
.baishu .footer .footer-top-cont .footer-top-left dl dt {
  font-size: 0.9375rem;
  font-weight: bold;
  color: #42526E;
  margin-bottom: 1.5rem;
}
.baishu .footer .footer-top-cont .footer-top-left dl dd {
  margin-bottom: 0.75rem;
}
.baishu .footer .footer-top-cont .footer-top-left dl dd a {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #42526E;
  max-width: 400px;
  display: block;
}
.baishu .footer .footer-top-cont .footer-top-left dl dd a:hover {
  color: #0F367B;
}
.baishu .footer .footer-top-cont .footer-top-left dl dd.pcPhone {
  display: block;
}
.baishu .footer .footer-top-cont .footer-top-left dl dd.mobilePhone {
  display: none;
}
.baishu .footer .footer-top-cont .footer-top-right {
  float: right;
  overflow: hidden;
}
.baishu .footer .footer-top-cont .footer-top-right .qrcode-box {
  float: left;
}
.baishu .footer .footer-top-cont .footer-top-right .qrcode-box .qrcode {
  width: 10rem;
  height: 10rem;
  position: relative;
}
.baishu .footer .footer-top-cont .footer-top-right .qrcode-box .qrcode img {
  width: 100%;
}
.baishu .footer .footer-top-cont .footer-top-right .qrcode-box .qrcode-tip {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin-top: 1.25rem;
}
.baishu .footer .footer-bottom-cont {
  margin-top: 2.5rem;
}
.baishu .footer .footer-bottom-cont .footer-tip {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: #7E8999;
  margin-bottom: 0.625rem;
}
.baishu .footer .footer-bottom-cont .footer-tip:last-child {
  margin-bottom: 1.25rem;
}
.baishu .advisory-list {
  width: 72px;
  height: 298px;
  position: fixed;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 998;
  border-radius: 4px;
  justify-content: space-between;
}
.baishu .advisory-list .bs-contact-us {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.baishu .advisory-list .contact-button {
  position: relative;
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-transition: background-color 218ms;
  transition: background-color 218ms;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.baishu .advisory-list .contact-button i {
  font-size: 22px;
  color: #91A1B7;
}
.baishu .advisory-list .contact-button .name {
  color: #333333;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 15px;
  margin-top: 4px;
}
.baishu .advisory-list .contact-button .contact-icon {
  width: 28px;
  height: 28px;
}
.baishu .advisory-list .contact-button .contact-icon.consult {
  background-image: url(../../img/ic_zxzx.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button .contact-icon.phobe {
  background-image: url(../../img/ic_dhzx.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button .contact-icon.wechat {
  background-image: url(../../img/ic_wxzx.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button .contact-icon.backTop {
  background-image: url(../../img/ic_fhdb.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button.phone-contact .phone-block {
  position: absolute;
  top: 0;
  right: 82px;
  width: 146px;
  height: 72px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  background: #fff;
  border-radius: 4px;
  display: none;
}
.baishu .advisory-list .contact-button.phone-contact .phone-block p {
  font-size: 12px;
  text-align: left;
  line-height: 18px;
  color: #333333;
  font-weight: 500;
}
.baishu .advisory-list .contact-button.phone-contact .phone-block p.color-green {
  color: #0265ff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}
.baishu .advisory-list .contact-button.phone-contact .phone-block::after {
  content: '';
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translate(0, -50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fff;
}
.baishu .advisory-list .contact-button.phone-contact .phone-block::before {
  content: '';
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translate(0, -50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  filter: blur(2px);
  z-index: -1;
}
.baishu .advisory-list .contact-button.phone-contact:hover .phone-block {
  display: block;
}
.baishu .advisory-list .contact-button.weixin-contact .weixin-block {
  position: absolute;
  bottom: 0;
  right: 82px;
  width: 146px;
  height: 174px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 14px;
  background: #fff;
  border-radius: 4px;
  display: none;
}
.baishu .advisory-list .contact-button.weixin-contact .weixin-block img {
  width: 100%;
}
.baishu .advisory-list .contact-button.weixin-contact .weixin-block p {
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  color: #333333;
  font-weight: 500;
  margin-top: 8px;
}
.baishu .advisory-list .contact-button.weixin-contact .weixin-block::after {
  content: '';
  position: absolute;
  right: -6px;
  bottom: 0;
  transform: translate(0, -36px);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fff;
}
.baishu .advisory-list .contact-button.weixin-contact .weixin-block::before {
  content: '';
  position: absolute;
  right: -6px;
  bottom: 0;
  transform: translate(0, -36px);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  filter: blur(2px);
  z-index: -1;
}
.baishu .advisory-list .contact-button.weixin-contact:hover .weixin-block {
  display: block;
}
.baishu .advisory-list .contact-button.back-top {
  -webkit-box-flex: 1;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.baishu .advisory-list .contact-button.back-top i {
  font-size: 24px;
}
.baishu .advisory-list .contact-button:hover {
  background-color: #0265ff;
}
.baishu .advisory-list .contact-button:hover .contact-icon.consult {
  background-image: url(../../img/ic_zxzx2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button:hover .contact-icon.phobe {
  background-image: url(../../img/ic_dhzx2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button:hover .contact-icon.wechat {
  background-image: url(../../img/ic_wxzx2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button:hover .contact-icon.backTop {
  background-image: url(../../img/ic_fhdb2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.baishu .advisory-list .contact-button:hover .name,
.baishu .advisory-list .contact-button:hover i {
  color: #fff;
}
@media (max-width: 768px) {
  #_aihecong_chat_container_body._aihecong_chat_container_body_active ._aihecong_chat_iframe {
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  html {
    font-size: 14px;
  }
  html .baishu .header .navbar {
    background-color: #5042EF;
  }
  html .baishu .header .navbar .container {
    width: calc(100% - 1.875rem);
  }
  html .baishu .header .navbar .container .navbar-collapse {
    height: 100%;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav {
    margin: 0;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown.mopen a.link i.bs-icon-icongongnengxiala {
    display: inline-block;
    transition: all 0.3s;
    transform: rotate(180deg);
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown.mopen .header-dropdown-box {
    transition: opacity 0.3s;
    opacity: 1!important;
    display: block!important;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box {
    position: inherit;
    transform: none!important;
    padding-bottom: 0;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box {
    overflow-y: auto;
    box-shadow: revert;
    padding-bottom: 0;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .container {
    padding: 0;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections {
    display: block;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections {
    margin-bottom: 1.25rem;
    display: inline-block;
    margin-right: 0;
    width: 100%;
    float: left;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl {
    width: 100%;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl dt {
    font-size: 1.125rem;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl a {
    height: 3.75rem;
    line-height: 3.75rem;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li .header-dropdown .header-dropdown-box .dropdown-box .header-dropdown-sections .sections dl a span {
    font-size: 1.125rem;
  }
  html .baishu .header .navbar .container .navbar-collapse .navbar-nav li:hover a.link:before {
    display: none;
  }
  html .baishu .header .navbar .container #navbar {
    margin: 0;
    padding: 0 0 8rem 0;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 4.5rem;
    bottom: 0;
    overflow-y: auto;
    max-height: 100%!important;
  }
  html .baishu .header .navbar .container #navbar ul li a {
    padding-left: 15px;
    font-size: 1.125rem;
  }
  html .baishu .header .navbar .container #navbar ul li a:before {
    display: none;
  }
  html .baishu .header .navbar .container .navbar-header .navbar-toggle {
    margin-top: 1.1875rem;
    background-color: #ffffff;
  }
  html .baishu .header .navbar .container .navbar-header .loginUse {
    top: 0.5625rem;
    right: 5.625rem;
    display: flex;
    align-items: center;
  }
  html .baishu .footer .footer-top-cont .footer-top-left dl {
    margin-bottom: 1.875rem;
  }
  html .baishu .footer .footer-top-cont .footer-top-left dl dd.mobilePhone {
    display: block;
  }
  html .baishu .footer .footer-top-cont .footer-top-left dl dd.pcPhone {
    display: none;
  }
  html .baishu .footer .footer-top-cont .footer-top-left dl.pc {
    display: none;
  }
  html .baishu .footer .footer-top-cont .footer-top-right {
    float: left;
  }
  html .baishu .footer .footer-top-cont .footer-top-right .qrcode-box {
    margin-top: 0.625rem;
  }
  html .baishu .footer .footer-top-cont .footer-top-right .qrcode-box .qrcode {
    margin: 0 auto;
  }
  html .baishu .advisory-box {
    display: none;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0;
    width: 3.625rem;
    height: 3.625rem;
    box-shadow: 0 0.125rem 0.875rem 0 rgba(2, 101, 255, 0.2);
  }
  html .baishu .advisory-box .pc {
    display: none;
  }
  html .baishu .advisory-box .mobile {
    display: block;
    line-height: 3.625rem;
    text-align: center;
  }
  html .baishu .advisory-box .mobile .advisory-icon {
    font-size: 1.875rem;
    margin: 0;
    color: #0265FF;
  }
  html .baishu .advisory-content {
    width: 100%;
    height: calc(100% - 5rem);
    right: 0;
  }
  html .baishu .advisory-content .content {
    width: 100%;
    height: 100%;
    min-width: 350px;
  }
  html .baishu .advisory-content .bs-icon-iconxiaohaoguanbi {
    font-size: 2.5rem;
    padding: 1rem;
  }
  html .baishu .advisory-list {
    bottom: 10px;
    top: auto;
    transform: translate(0, 0);
  }
}
#_aihecong_chat_container_body._aihecong_chat_container_body_active ._aihecong_chat_iframe {
  right: 92px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(0, -50%) !important;
  transform: translate(0, -50%) !important;
}
@-webkit-keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}
@keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}
@-webkit-keyframes jump {
  0%,
  to {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  50% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
}
@keyframes jump {
  0%,
  to {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  50% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
}
@-webkit-keyframes jump2 {
  0%,
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(18%);
    transform: translateY(18%);
  }
}
@keyframes jump2 {
  0%,
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(18%);
    transform: translateY(18%);
  }
}
